# Base URL: 
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# MongoDB connection URI
MONGO_URI=mongodb+srv://learning_lms:iJd8WejAuyD4BzTo@cluster0.pyzmqm9.mongodb.net/learning_lms?appName=Cluster0

# sms secret
SMS_SECRET=ashik_test_secret



# Email SMTP credentials
SMTP_USER=cpmtrackers@gmail.com
SMTP_PASS=ivmukyyupsctorui

# Admin email to receive test emails
ADMIN_EMAIL=mdaashikur@gmail.com
ADMIN_EMAIL2=akramhossainahad95@gmail.com
ADMIN_EMAIL3=mdmsujon852@gmail.com
ADMIN_EMAIL4=mh13mahedi@gmail.com
ADMIN_EMAIL5=cpm.hridoy@gmail.com


# http://localhost:3000/api/test-email
# 