# Base URL: 
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# MongoDB connection URI
MONGO_URI=mongodb+srv://learning_lms:iJd8WejAuyD4BzTo@cluster0.pyzmqm9.mongodb.net/learning_lms?appName=Cluster0

# sms secret
SMS_SECRET=ashik_test_secret



#email
EMAIL_USER=cpmtrackers@gmail.com
EMAIL_PASS=ivmukyyupsctorui
ADMIN_EMAIL=mdaashikur@gmail.com



# http://localhost:3000/api/test-email